* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

h1 {
  display: inline;
  color: #1FA2F8
}

h4 {
  margin-top: 0%;
  color: #584C56
}

.navbar {
  background-color: #bcdef7ae;
}

.link-nav {
  font-weight: bold;
  font-size: 15px;
}

.link-nav:hover {
  color: #f69017;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo h4 {
  margin-bottom: 5px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff
}

a {
  text-decoration: none;
  color:#1FA2F8
}

label {
  display: block;
}

nav {
  background-color: rgb(255, 255, 255);
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;

}

.border-nav {
  background-color: #f69017;
  height: 1px;
  border: none;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  border-radius: 50%;
  margin-top: 5px;
}

button {
  border-radius: 10px;
  border: none;
  background-color: #1FA2F8;
  color: white;
  height: 25px;
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.15em)              
}

.allTeas-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f692173e;
  width: 350px;
  height: 225px;
  border-radius: 5%;
  margin: 30px;
  border: 1px solid #1FA2F8;
}

.profile-contents {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f69217c5;
  border-radius: 10%;
  color: white;
  font-weight: 300;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-wrapper {
  display: flex;
  align-items: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f692173e;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  margin: 30px;
  border: 1px solid #1FA2F8;
}

.cart-qty {
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #f69217c5;
  border-radius: 20%;
  color: white;
  font-weight: 300;
  margin-right: 5px;
}

.remove-item {
  margin-left: 10px;
}

.order-details {
  margin-top: 30px;
}

.checkout {
  font-size: 20px;
}

.checkout:hover {
  color: #f69017;
}